/web/.htaccess
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/web/components

.docker/data/
.bashrc

/public/bundles
/var/

/node_modules/
/public/build/
npm-debug.log

yarn-error.log
/.bashrc
/.bash_history
