@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";
@import "../../../node_modules/bootstrap/scss/_mixins.scss";
@import "../../../node_modules/bootstrap/scss/_utilities.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

@import "../causepilot/globals.scss";

body {
    background-color: $color-maximum-blue;
}

header.header {
    height: 11rem;
    padding-top: 1.5rem;
    position: relative;
    width: 100%;
}

footer.footer {
    align-items: center;
    color: $color-white;
    display: flex;
    font-size: 0.875rem;
    font-weight: 700;
    height: 7.5rem;
    justify-content: center;
    position: relative;
    transition: bottom 200ms ease;
    width: 100%;

    .footer-toggle,
    .footer-links {
        display: none;
    }

    .copyright-text span {
        padding: 0 14px;
    }
}

.text-white {
    color: $color-white;

    a {
        color: $color-white;
        font-weight: 700;
        display: inline-block;
    }
}

.container > .row {
    margin-bottom: 2rem;
}

#organization_slug, #url-prefix {
    display: block;
    background-color: $color-white;
    border: 0.125rem solid $color-gray-20;
    font-size: 0.875rem;
    height: 3rem;
    line-height: 2.75rem;
    padding: 0 1rem;
}

#url-prefix {
    background: $color-gray-00;
    border-radius: 0.375rem 0 0 0.375rem;
    border-right: 0;
    margin-left: 0.125rem;
}

#organization_slug {
    border-radius: 0 0.375rem 0.375rem 0;
}
.checkbox-rows {
    padding: 0.5rem 0;
}

.search-results {
    h6 {
        margin-bottom: 0.5rem;
    }

    ul {
        margin-bottom: 2rem;
    }
}
