{% extends 'BidcozCoreBundle:Layout:marketing.html.twig' %}

{% block title 'DMCA Take Down' %}
{% block breadcrumb %}Home / Legal{% endblock %}

{% block content %}
    <section class="cf full">
		<div class="inner">
            <h1>Take Down Policy</h1>

            <br>

	        <div class="caption">
	        	<p><b>CausePilot, a division of Common Good Fundraising, LLC</b>, respects the intellectual property and other rights of others and expects it's users to do the same. CausePilot provides a web-based software program to non-profits that helps them build and manage their own online auction. The non-profit's representatives, our users, upload and post images and content to their auction sites themselves. If a non-profit has posted or uploaded an image or content that is the subject of copyright or otherwise protected or restricted in use, it is most likely unknowingly done.</p>

	        	<h3>Course of Action:</h3>

	        	<p>If you are an owner, or are authorized to act on behalf of one, please report the alleged copyright, or other issue taking place to <a href="mailto:support@causepilot.com?subject=Take Down Request">support@causepilot.com</a>.</p>

	        	<p>CausePilot will respond in a commercially reasonable timeframe to issues involving copyright or related subjects committed using the CausePilot website when reported to CausePilot as follows:</p>

	        	<ol type="a">
	        		<li>Identify the work that you claim is at issue.</li>
	        		<li>Identify the location on our site where the material at issue resides, preferably with a URL link.</li>
	        		<li>Provide your mailing address, telephone number, and email address.</li>
	        		<li>Include a statement that you are submitting this report in good faith and that the information contained in the notification is accurate (including the basis for which your statement of misuse is made) and that you have the right to proceed (because you are the copyright or other owner or the owner's agent).</li>
	        		<li>Provide your full legal name and your electronic or physical signature of the owner or their agent.</li>
	        	</ol>

	        	<p>It is CausePilot's policy, in appropriate circumstances, and at its discretion, to disable and/or terminate the accounts of users who infringe or are charged with infringing the copyrights or other intellectual property rights of others.</p>

	        	<br>

	        	<p>Mail to:</p>

	        	<p>
	        		<b>CausePilot</b><br>
	        		Ref: Take Down Request<br>
	        		P.O. Box 55054<br>
	        		Nashville, TN 37205
	        	</p>
	        </div>
        </div>
    </section>

{% endblock %}
