{% extends 'BidcozCoreBundle:Layout:marketing.html.twig' %}

{% block title 'Privacy Policy' %}
{% block breadcrumb %}Home / Legal{% endblock %}

{% block content %}
    <section class="cf full">
		<div class="inner">
            <h1>Privacy Policy</h1>

            <br>

            <div class="caption">
            	<p>This Privacy Policy tells Users how CausePilot, a division of Common Good Fundraising LLC (hereinafter "we", or "us"), collects and uses the personal information necessary to administer this web site. Please read this privacy policy before submitting any personal information for yourself or others. By using the Site you are accepting the practices described in this policy. These practices may change at any time without notice, and the policy will be updated accordingly. Changes will only apply to activities and information on a go-forward, not retroactive basis. You are encouraged to review this Privacy Policy regularly to check for changes and to make sure that you understand how any collected personal information is used.</p>

	        	<p><i>Note: The privacy practices set forth in this Policy, apply to this web site only. If you link to any other web site, please review the Privacy Policy posted at that site governing its use of information.</i></p>

	        	<p>CausePilot values the trust that participating non-profits and their patrons place in our company. We take measures to earn that trust by implementing policies and procedures geared to keep personal information about participants in a secure environment. We collect the information that we need to administer our business and participating non-profit organizations' fundraisers, ensure our security and the security of Site participants and provide a more personalized experience with quality products and services.</p>

	        	<p>The information that Users provide through this web site is for use by CausePilot. We do not rent or sell this information to anyone, and we do not typically share this information with third parties except as is necessary to administer the Site and to provide the services delivered by the Site to our Users.</p>

	        	<br>

	        	<h3>Visiting our Site</h3>

	        	<p>You can visit <a href="https://causepilot.com">https://causepilot.com</a> without identifying yourself or entering any personal information. We may collect and monitor data about user/traffic patterns throughout the Site through non-personally identifiable information in order to better administer and improve our site and the User's experience.</p>

	        	<br>

	        	<h3>Collection of Information</h3>

	        	<p>Most of the personally identifiable information that we collect, like names, e-mail addresses, postal addresses, and telephone number(s), is either entered by a Non-profit, as required to administer their fundraiser under the Terms and Conditions of the site, or is voluntarily entered by the Users of our site.</p>

	        	<br>

	        	<h3>Information Entered by Non-Profit</h3>

	        	<p>In order to register for, initiate, and administer a fundraiser through this Site, Non-profits may choose to enter the names and e-mail address of their fundraising group members, potential and actual donors, and potential and actual attendees of the fundraiser. By accepting the Terms and Conditions of using this Site's services for a fundraiser, during the registration process, Non-profit's acknowledge that they have prior permission from these individuals and companies to provide CausePilot with this information. Reasonable steps are taken to keep this information secure in a password protected environment with restricted access. However, CausePilot accepts no responsibility for any information that may be disseminated as the result, by way of example and not in limitation, of a User ID and/or Password that has been shared by an authorized User with any unauthorized party.</p>

	        	<br>

	        	<h3>Other Information</h3>

	        	<p>We collect personally identifiable information, like names, e-mail addresses, postal addresses, etc. when voluntarily entered by the auction fundraising administrator or Users. The information collected is used to fulfill specific requests and keep you informed in the process of doing business with you. This information is only used to fulfill your specific request, unless you give us permission to use it in another manner, for example to add you to one of our mailing lists. If, for any reason you would like us to discontinue use of any of the personally identifiable information that you have voluntarily supplied, please contact us at <a href="mailto:support@causepilot.com">support@causepilot.com</a>.</p>

	        	<br>

	        	<h3>Cookie/Tracking Technology</h3>

	        	<p>The Site may use cookie and tracking technology depending on the features offered. Cookie and tracking technology are useful for gathering information such as browser type and operating system, tracking the number of visitors to the Site, and understanding how visitors use the Site. Cookies can also help customize the Site for visitors. Personal information cannot be collected via cookies and other tracking technology, however, if you previously provided personally identifiable information, cookies may be tied to such information.</p>

	        	<br>

	        	<h3>Distribution of Information</h3>

	        	<p>We may share information with governmental agencies or other companies or entities assisting us in fraud prcampaignion or investigation. We may do so when: (1) permitted or required by law; or, (2) trying to protect against or prcampaign actual or potential fraud or unauthorized transactions; or, (3) investigating fraud which has already taken place. The information is not provided to these entities for marketing purposes.</p>

	        	<br>

	        	<h3>Commitment to Data Security</h3>

	        	<p>Reasonable efforts are made to keep your personal information secure. Only authorized employees, agents and contractors (who have agreed to keep information secure and confidential) have access to this information. All emails and newsletters from this site allow you to opt out of further mailings.</p>

	        	<br>

	        	<h3>Privacy Contact Information</h3>

	        	<p>If you have any questions, concerns, or comments about our privacy policy you may contact us using the information below:</p>

	        	<p>
	        		By e-mail: <a href="mailto:support@causepilot.com">support@causepilot.com</a>.<br>
	        		By Phone: <a href="tel:615-224-8833">615-224-8833</a>
	        	</p>
	        	<p>We reserve the right to make changes to this policy. Any changes to this policy will be posted.</p>
	        	<br><br>
	        </div>
        </div>
    </section>
{% endblock %}
